{% extends "layouts/main.html" %}

{% set pageName = "Request an urgent passport renewal appointment" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Request an urgent passport renewal appointment</h1>
    <p class="govuk-body">Use this service to book an in-person appointment to renew your passport urgently.</p>
    <p class="govuk-body">You will need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Your current passport</li>
      <li>Details of your travel plans</li>
      <li>Information about why you need your passport urgently</li>
      <li>Your contact details</li>
    </ul>
    <p class="govuk-body">It takes around <strong>10 minutes</strong> to complete.</p>
    {{ govukButton({
      text: "Start now",
      href: "/travel-date",
      isStartButton: true
    }) }}
  </div>
</div>
{% endblock %}
